[submodule "inc/websocketpp"]
	path = inc/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "logp-buildlib"]
	path = logp-buildlib
	url = https://github.com/hoytech/logp-buildlib.git
[submodule "hoytech-cpp"]
	path = hoytech-cpp
	url = https://github.com/hoytech/hoytech-cpp.git
[submodule "inc/variant"]
	path = inc/variant
	url = https://github.com/mapbox/variant.git
